@use "./config";
@use "./colours";

header {
  min-height: 100vh;
  overflow-x: hidden;
}
.heading-wrapper {
  height: 100vh;
  margin: 20vh config.window(-3);
}
%image-bg {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-start-page {
  @extend %image-bg;
  background-image: url("../images/header-juvnsky.webp");
}
.image-confirmation-page {
  @extend %image-bg;
  background-image: url("../images/keyboard-wiediger.webp");
}
.image-topics {
  @extend %image-bg;
  background-image: url("../images/big-screen-paananen.webp");
}
.image-program {
  @extend %image-bg;
  background-image: url("../images/workshop-leon.webp");
}
.image-location {
  @extend %image-bg;
  background-image: url("../images/speicherstadt-meduana.webp");
}
.image-register {
  @extend %image-bg;
  background-image: url("../images/foyer-hanaoka.webp");
  background-position: 50% 90%;
}

.header-wrapper {
  position: relative;
  z-index: 2;
}
.header-logo {
  width: 20vw;
  margin: 10vw 0 0 0;
}
.logo-color {
  color: colours.$content-medium;
}
.content-list,
.footer-list,
.sponsors-list {
  list-style: none;
  padding: unset;
}
footer {
  @media screen and (min-width: config.$bp-footer) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: config.raster(4);
  }
}
footer section {
  margin: 0 0 config.raster(4) 0;
}
.sponsors-list {
  padding: unset;
  list-style: none;
}
.sponsors-list li {
  display: inline-block;
  padding: config.raster(2);
}
.sponsors-list img {
  width: 150px;
}
