@use "./config";
@use "./colours";

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin-block: unset;
  margin-inline: unset;
}
html {
  scroll-behavior: smooth;
}
body {
  background: white;
  font-family: "Open Sans", sans-serif;
  @include config.font(500, normal, 0.7, body);
  color: colours.$content-running-text;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-variant-numeric: oldstyle-nums proportional-nums;
}
.landmark {
  padding: config.raster(3) config.window(3);
}
header {
  padding: 10vh 0;
  color: colours.$content-running-text-bright;
}
main,
html {
  background: colours.$site-page-bg;
}
%content {
  max-width: config.$content-max-width;
  margin: config.raster(10) auto;
}
.content-section {
  @extend %content;
}
.button-container {
  display: flex;
  justify-content: center;
}
%button {
  display: inline-block;
  padding: config.raster(1) config.raster(3);
  color: colours.$content-running-text-bright;
  border: config.raster(0.25) solid hsla(1, 1%, 1%, 0);
  border-radius: config.raster(1);
  font-family: "Maven Pro", sans-serif;
  @include config.font(800, normal, 0.7, body);
  letter-spacing: config.raster(0.05);
  text-align: center;
  text-decoration: none;
  transition: color config.$elemTrans ease-in-out,
    background config.$elemTrans ease-in-out,
    border config.$elemTrans ease-in-out;
  cursor: pointer;
}
.button-primary {
  @extend %button;
  background: colours.$site-btn-pri;
  &:hover:not(.button-disabled),
  &:focus:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    color: colours.$site-btn-pri;
    border: config.raster(0.25) solid colours.$site-btn-pri;
  }
  &:active:not(.button-disabled),
  &.selected:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    color: colours.$site-btn-pri;
    font-style: italic;
  }
}
.button-secondary {
  @extend %button;
  background: colours.$site-btn-sec;
  &:hover:not(.button-disabled),
  &:focus:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    color: colours.$site-btn-sec;
    border: config.raster(0.25) solid colours.$site-btn-sec;
  }
  &:active:not(.button-disabled),
  &.selected:not(.button-disabled) {
    background: colours.$content-running-text-bright;
    color: colours.$site-btn-sec;
    font-style: italic;
  }
}
.button-disabled {
  filter: grayscale(100%) contrast(35%) brightness(150%);
}
::selection {
  background: colours.$content-bg-sec-medium;
}
*:focus:not([class]) {
  outline: config.raster(0.25) dashed colours.$site-btn-pri;
}
a:not([class]),
a:visited:not([class]) {
  color: colours.$content-running-text-light;
}
a:hover:not([class]),
a:focus:not([class]) {
  color: colours.$site-btn-pri;
}
a:active:not([class]) {
  color: colours.$site-btn-ind;
  background: unset;
}
h1,
h2,
h3,
h4 {
  font-family: "Maven Pro", sans-serif;
}
h1 {
  margin: unset;
  padding: config.window(6) 0 config.window(6) 0;
  @include config.font(800, normal, 4, disp);
  color: white;
}
.subheading {
  @include config.font(600, normal, 1, disp);
}
h2,
h3,
h4 {
  margin: unset;
  margin: config.raster(6) 0 config.raster(4) 0;
}
h2 {
  display: inline-block;
  margin: 20vh 0 0 0;
  padding: config.raster(1) config.raster(2);
  @include config.font(800, normal, 1.3, body);
  color: colours.$content-extra-dark;
  background: white;
}
h3 {
  @include config.font(800, normal, 1.1, body);
  color: colours.$content-text-dark;
}
h4 {
  @include config.font(800, normal, 0.9, body);
  color: colours.$content-text-dark;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
ol,
ul {
  margin-block-start: unset;
  margin-block-end: unset;
  padding: 0 0 0 config.raster(2);
  list-style-position: outside;
}
ul ul,
ol ol {
  padding: config.raster(1) config.raster(2);
  color: colours.$content-running-text-light;
}
%content-heading {
  padding: 0 0 config.raster(0.5) 0;
  color: colours.$content-text-sec-dark;
  font-family: "Maven Pro", sans-serif;
  @include config.font(600, normal, 0.7, body);
  font-variant-numeric: oldstyle-nums tabular-nums;
}
dt,
th {
  @extend %content-heading;
}
dd {
  margin: 0;
  padding: 0 0 config.raster(1) 0;
}
p {
  margin: config.raster(2) 0;
}
em {
  @include config.font(400, italic, 0.7, body);
}
strong {
  @extend %content-heading;
}
pre {
  margin: config.raster(4) 0;
  padding: config.raster(2);
  overflow-x: auto;
  background: colours.$content-bg-light;
  border-left: solid 8px colours.$content-dark;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code {
  @include config.font(444, normal, 0.6, body);
  color: colours.$content-text-dark;
}
blockquote {
  padding: config.raster(2) config.raster(4);
  @include config.font(400, italic, 0.7, body);
}
figure {
  margin: config.raster(4) 0;
}
figcaption {
  margin: config.raster(2) 0;
  @include config.font(500, italic, 0.6, body);
}
hr {
  margin: config.raster(2) 0;
  border-top: 0.1rem solid colours.$content-text-sec-dark;
}
