$site-page-bg: rgb(242, 247, 250);
$site-bg-light: hsla(203, 51%, 66%, 1);
$site-bg-medium: hsl(212, 46%, 48%);
$site-bg-dark: hsla(240, 91%, 50.6%, 1);

$content-bg-light: hsla(180, 25%, 98%, 1);
$content-bg-text: hsla(222, 100%, 97%, 1);
$content-bg-sec: hsla(15, 22%, 94%, 1);
$content-bg-sec-medium: hsla(30, 100%, 80%, 1);

$content-extra-light: hsla(222, 100%, 95%, 1);
$content-light: hsla(222, 100%, 91%, 1);
$content-medium: hsla(222, 100%, 85%, 1);
$content-dark: hsla(222, 98%, 65%, 1);
$content-extra-dark: hsla(222, 92%, 55%, 1);
$content-text-medium: hsla(222, 92%, 60%, 1);
$content-text-dark: hsla(222, 100%, 35%, 1);
$content-text-sec-dark: hsl(20, 100%, 35%, 1);
$content-running-text-light: hsla(222, 45%, 50%, 1);
$content-running-text: hsla(222, 100%, 22%, 1);
$content-running-text-bright: white;
$content-error: rgb(230, 50, 5);

// $site-btn-ind: hsla(180, 100%, 50%, 1);
$site-btn-ind: hsla(203, 51%, 66%, 1);
$site-btn-pri: hsl(212, 46%, 48%);
$site-btn-sec: hsla(25, 90%, 43%, 1);
$site-btn-ter: hsla(190, 90%, 95%, 1);
$site-btn-ter-col: hsla(190, 100%, 30%, 1);

$icon-light: $content-medium;
$icon-dark: $content-text-dark;
$icon-fill: white;
