@use "./config";
@use "./colours";
@use "./base";

.form .honeypot {
  position: absolute;
  left: -9999px;
}
.form label {
  @include config.font(600, normal, 0.6, body);
}
.form input {
  width: 100%;
  margin: config.raster(0.25) 0 config.raster(1) 0;
  padding: config.raster(1) config.raster(0.5) config.raster(0.5)
    config.raster(0.5);
  border: none;
  border-bottom: config.raster(0.5) solid white;
  border-radius: config.$roundness-small;
  background: white;
  color: colours.$content-running-text;
}
.form input:focus {
  outline: config.raster(0.25) dashed colours.$site-btn-pri;
}
.form .valid,
.form .invalid {
  outline: none;
}
.form .valid {
  border-bottom-color: colours.$content-light;
}
.form .invalid {
  border-bottom-color: colours.$content-error;
}
.form ::placeholder {
  color: colours.$content-text-medium;
}
%action {
  margin: config.raster(-0.5) 0 config.raster(1) 0;
  padding: config.raster(0.5);
  border-radius: config.$roundness-small;
  @include config.font(600, normal, 0.5, body);
}
.form .action-info {
  @extend %action;
  background: colours.$content-extra-light;
  color: colours.$content-text-dark;
}
.form .error-info {
  @extend %action;
  background: hsl(36, 100%, 90%);
  color: colours.$content-text-sec-dark;
}
.form .noerror {
  display: none;
}
.form .error {
  display: block;
}
.form .button-action {
  display: block;
  margin: config.raster(4) auto;
}
